* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.parent_one {
  background-color: #23424A;
  padding: 50px;

  /* width: 900px; */
  /* when we don't assign a width, the layout is responsive */
  /* if the width is not specified, the element takes 100% of the parent element */
  margin: 0 auto;
  width: 80%;
}

.child_one {
  background-color: #38CFD9;
  height: 250px;
  /* Kevin doesn't normally include a height, but it's just to get started. */
}

.parent_two {
  background-color: #23424A;
  padding: 50px;

  margin: 0 auto;
  width: 80%;
}

.child_two {
  background-color: #38CFD9;
  /* width: 750px; */
  /* because of a fixed width like the one above, the child overflows the parent */
  width: 50%;
  height: 250px;
  /* Kevin doesn't normally include a height, but it's just to get started. */
  /* with this height, the child content also overflows vertically */
}

.container {
  background-color: #23424A;
}