* {
  box-sizing: border-box;
}

/* rems are taken from the root font-size, which is 16px for most browsers; 
the root font-size can be specified if necessary, e.g. 
:root {
  font-sizeL 20px;
} or
html {
  font-sizeL 20px;
}

*/


body {
  font-family: Poppins, sans-serif;
}
h2 {
  font-size: 2.25rem;
  color: #ee6352;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
}

p, ul {
  font-size: 1.125rem;
}

.cta {
  background-color: #ee6352;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
}

.cta__title {
  margin: 0 0 0.5rem;
  color: white;
}

/* it can be a good idea to use ems for paddings and margins so that they shrink in relation to the font-size */

.cta__btn {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background: white;
  transition: backgorund 250ms;
  font-size: 1.25rem;
}

.cta__btn:hover {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

/* For fonts, it's better to use rem's instead of em's */